* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --Grayishblue: hsl(220, 15%, 55%);
  --Darkblue: hsl(218, 44%, 22%);

}

body {
  background-color: var(--Lightgray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: var(--Darkblue);
  font-size: 25px;
  font-weight:bold;
  text-align: center;
}

.container {
  background-color: var(--White);
  max-width: 338px; /* Largura máxima fixa */
  margin-bottom: 2rem; /* Margem inferior para evitar que o footer fique muito próximo */

  border-radius: 20px;
  position: absolute;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mainContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgDiv {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  height: 15rem;
}

.container p {
  color: var(--Grayishblue);
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  padding: 5px;
}

footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 13px;

  display: flex;
  justify-content: center;
  margin-top: 600px; 
}

attribution {
  display: flex;
  margin-top: 5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}